In [1]:
import pandas as pd
import numpy as np
import pandas_profiling
from sklearn.model_selection import cross_val_score
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.utils import shuffle
#np.set_printoptions(threshold=np.nan)

In [2]:
train = pd.read_csv("flights_train.csv",thousands=',')
train.head()

,UID,DAY_OF_WEEK,CRS_DEP_TIME,TAXI_OUT,TAXI_IN,ACTUAL_ELAPSED_TIME,DISTANCE,DISTANCE_GROUP,AIRLINE_ID,FL_DATE,...,FL_NUM,UNIQUE_CARRIER,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,DEST,DEST_CITY_NAME,DEST_STATE_ABR,FIRST_DEP_TIME,ARR_DELAY
0,0,2,1020,11,8,373,2701,11,19930,1/3/17,...,879,AS,SEA,"Seattle, WA",WA,LIH,"Lihue, HI",HI,NaN,-11
1,1,6,1220,13,9,183,1171,5,19805,1/28/17,...,2491,AA,SAN,"San Diego, CA",CA,DFW,"Dallas/Fort Worth, TX",TX,NaN,1
2,2,6,945,48,6,355,2552,11,19930,1/21/17,...,172,AS,ANC,"Anchorage, AK",AK,PHX,"Phoenix, AZ",AZ,NaN,18
3,3,1,1437,17,8,136,967,4,19977,1/23/17,...,2030,UA,SFO,"San Francisco, CA",CA,DEN,"Denver, CO",CO,NaN,0
4,4,1,830,37,7,114,534,3,19393,1/2/17,...,3812,WN,ATL,"Atlanta, GA",GA,IAD,"Washington, DC",VA,NaN,197

In [3]:
train.shape

(4911, 22)

In [4]:
#pandas_profiling.ProfileReport(train)

In [5]:
# dropping columns with high categorical values and highly correlated columns
#
#DESTDEST has a high cardinality: 228 distinct values Warning
#DEST_CITY_NAME has a high cardinality: 224 distinct values Warning
#DISTANCE has a high cardinality: 1020 distinct values Warning
#DISTANCE_GROUP is highly correlated with ACTUAL_ELAPSED_TIME (ρ = 0.96165) Rejected
#FIRST_DEP_TIME has 4882 / 100.0% missing values Missing
#FL_DATE has a high cardinality: 365 distinct values Warning
#ORIGIN has a high cardinality: 239 distinct values Warning
#ORIGIN_CITY_NAME has a high cardinality: 235 distinct values Warning


def dropHighCategoricalColumns(train):
    train = train.drop(columns=['ORIGIN_STATE_ABR','UNIQUE_CARRIER','DEST_STATE_ABR','UID','DEST','DEST_CITY_NAME','DISTANCE_GROUP','FIRST_DEP_TIME','FL_DATE','ORIGIN','ORIGIN_CITY_NAME','ACTUAL_ELAPSED_TIME','CRS_DEP_TIME'])
    return train


train = dropHighCategoricalColumns(train)

In [6]:
test = pd.read_csv("flights_test.csv",thousands=',')
test = dropHighCategoricalColumns(test)

In [7]:
def oneHotEncoding(df,feature):
    dummies = pd.get_dummies(df[feature], prefix=feature)
    df = pd.concat([df,dummies],axis=1)
    df = df.drop([feature],axis=1)
    return df

# one hot encoding for various features
#train = oneHotEncoding(train,'DEST_STATE_ABR')
#test = oneHotEncoding(test,'DEST_STATE_ABR')
#train = oneHotEncoding(train,'UNIQUE_CARRIER')
#test = oneHotEncoding(test,'UNIQUE_CARRIER')
#train = oneHotEncoding(train,'ORIGIN_STATE_ABR')
#test = oneHotEncoding(test,'ORIGIN_STATE_ABR')
#train = oneHotEncoding(train,'DAY_OF_WEEK')
#test = oneHotEncoding(test,'DAY_OF_WEEK')
#train = oneHotEncoding(train,'AIRLINE_ID')
#test = oneHotEncoding(test,'AIRLINE_ID')
#missing_cols = set( train.columns ) - set( test.columns )
#for c in missing_cols:
#    test[c] = 0
#test = test[train.columns]

In [8]:
train.head()

,DAY_OF_WEEK,TAXI_OUT,TAXI_IN,DISTANCE,AIRLINE_ID,ORIGIN_CITY_MARKET_ID,DEST_CITY_MARKET_ID,FL_NUM,ARR_DELAY
0,2,11,8,2701,19930,30559,32982,879,-11
1,6,13,9,1171,19805,33570,30194,2491,1
2,6,48,6,2552,19930,30299,30466,172,18
3,1,17,8,967,19977,32457,30325,2030,0
4,1,37,7,534,19393,30397,30852,3812,197

In [9]:
train = shuffle(train)
Y = train['ARR_DELAY']
Y.values.reshape(train.shape[0],1)
train = train.drop(['ARR_DELAY'],axis = 1)

In [10]:
#X_train, X_test, y_train, y_test = train_test_split(train, Y, test_size=0.20, random_state=1)

In [11]:
regr = linear_model.LinearRegression(fit_intercept = True, normalize = True)
#regr.fit(X_train, y_train)

In [12]:
#y_pred = regr.predict(X_test)

In [13]:
#print('Coefficients: \n', regr.coef_)

In [14]:
#print("Mean squared error: %.2f"
#      % mean_squared_error(y_pred,y_test))

In [15]:
#print('Variance score: %.2f' % r2_score(y_test, y_pred))
train.shape

(4911, 8)

In [16]:
scores = cross_val_score(regr, train.iloc[:,:19], Y, cv=5,scoring='neg_mean_squared_error')

In [17]:
print -1*np.mean(scores)

1947.31915049

In [21]:
decisionTree = DecisionTreeRegressor(max_features='sqrt', splitter='random', min_samples_split=4, max_depth=3)
#decisionTree.fit(train, Y)
#y_pred = decisionTree.predict(test)

In [22]:
scores = cross_val_score(decisionTree, train, Y, cv=5,scoring='neg_mean_squared_error')